<title>添加第三级菜单</title>
<b>现已有的第三级菜单</b><br>
<% @t_menu_datas.each do |t|%>
 <b>名称：</b> <%= t.name %> 
  <b>url:</b> <%=  t.url %>
  <%=link_to :编辑, :action =>  "update_t_menu_win", :id => "#{ t.id }"  %>
  <br>
<% end %>
<br>
<b>
  添加新的第三级菜单
</b>
<%= form_for :t_menu, :url => {:action => "t_menu_create" } do |t| %>
  名称：
  <%= t.text_field :name %><br>
  url ：
  <%= t.text_field :url %><br> 
  <%= t.select :s_menu_id, @s_menu ,{ :prompt => '请选择第二级菜单' } %><br>
  <%= t.submit :确定 %><br>
  <%=link_to :返回主页, :action => "home_menu" %>
<% end %>
