<title>菜单配置</title>
<b>
  菜单配置编辑
</b>
<%= form_for :c_menu,@c_menu, :url => {:action => "c_menu_update" } do |f| %>
  下拉速度：
  <%= f.select :speed, %w{ normal fast slow }  %><br>
  下拉模式 ：
  <%= f.select :animation, %w{ height opacity }  %><br>
  是否显示背影(IE6以上浏览器可以使用!):
  <%= f.select :dropShadows, %w{ true false }  %><br>
  菜单停留时间(默认为'800'):
  <%= f.text_field :delay %><br> 
  <%= f.submit :确定 %><br>
  <%=link_to :返回主页, :action => "home_menu" %>
<% end %>

