<title>添加第一级菜单</title>
<b>现已有的第一级菜单</b><br>
<% @f_menu_datas.each do |f|%>
 <b>名称：</b> <%= f.name %> 
  <b>url:</b> <%=  f.url %>
  <%=link_to :编辑, :action =>  "update_f_menu_win", :id => "#{ f.id }"  %>
  <br>
<% end %>
<br>
<b>
  添加新的第一级菜单
</b>
<%= form_for :f_menu, :url => {:action => "f_menu_create" } do |f| %>
  名称：
  <%= f.text_field :name %><br>
  url ：
  <%= f.text_field :url %> 
  <%= f.submit :确定 %><br>
  <%=link_to :返回主页, :action => "home_menu" %>
<% end %>
